.Boxtitle {
  background: #f43b86;
  padding: 10px;
  margin-top: 20px;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sectionType {
  margin: auto;
  background: #ffe459;
  padding: 0px 30px;
  margin-top: 20px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
}

.sectionType:hover {
  background: rgb(118, 240, 118);
  cursor: pointer;
}
.active {
  background: rgb(118, 240, 118);
}

.Boxcontent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
/*  Boxcontent for mobile screen */

a {
  text-decoration: none;
}

.GridView {
  border-radius: 50px;
  margin: 10px;
  margin-top: 30px;
  padding: 15px;

  border: 3px solid #eee;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.GridView:hover {
  cursor: pointer;
}
.gridWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body {
  background: #11052c;
}

@media only screen and (max-width: 600px) {
  .ImageStyle {
    height: 200px;
    width: 100%;
    border-radius: 30px;
  }
}

@media only screen and (min-width: 667px) {
  .ImageStyle {
    height: 200px;
    width: 400px;
    border-radius: 30px;
  }
}
